<body>
  <div class="container">
    <h1 id="full-title">{{ fullTitle }}</h1>
    <h1 id="abb-title"> {{ abbTitle }}</h1>
    <div class="steps" id="intro">{{ intro }}</div>
    <div class="steps" id="step1">{{ step1 }}</div>
    <div class="steps" id="step2">{{ step2 }}</div>
  </div>
  <div id="input-tools-container">
    <div id="input-container">
      <input id="new-task" (keyup.enter)='addNewTask()' type="text" placeholder="Enter new shit here">
    </div>
    <div id="tools">
      <button id="enter" (click)='addNewTask()'><i class="fas fa-plus fa-lg"></i></button>
      <button id="delete" (click)='clearInput()'><i class="fas fa-minus fa-lg"></i></button>
    </div>
  </div>
  <div id="task-container">
  <div id="task-list-title">Shit list:</div>
  <div id="task-list">
    <ul>
      <li id="task" *ngFor="let task of taskList" [ngClass]="{'done':taskList[taskList.indexOf(task)].complete}">
        <i class="fas fa-skull-crossbones" 
        id="bullet" (click)='taskIsDone(taskList.indexOf(task))' (mousedown)='deleteTask(taskList.indexOf(task))'
        (mouseup)='clearTime()'>
      </i>{{ task.value }}</li>
    </ul>
  </div>
    <button id="clear" (click)='clearTasks(0, taskList.length)'><i class="fas fa-trash-alt fa-lg"></i></button>
</div>
</body>  