.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

#full-title {
    font-size: 50px;
    color: lightpink;
    text-align: center;
    text-shadow: 3px 3px black;
}

#abb-title {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.steps {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 3px 3px black;
}

#intro {
    color: rgb(159, 220, 255);
}

#step1 {
    color: rgb(142, 255, 185);
}

#step2 {
    color: rgb(247, 255, 142);
}

#input-tools-container {
    width: 50%;
    float: left;
    margin: 40px 0px 0px 0px;
}

input {
    font-size: 15px;
    height: 44px;
    width: 80%;
    margin-left: 10%;
    border: none;
    padding-left: 7px;
    border: 2px solid;
}

#tools {
    width: 50%;
    height: 60px;
    margin-top: 10px;
    margin-left: 10%;
    float: left;
}

#enter, #delete {
    background-color: rgb(4, 128, 150);
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border: 2px solid black;
    float: left;
}

#task-container {
    height: 1000px;
    width: 50%;
    float: right;
}

#task-list-title {
    height: 40px;
    font-size: 30px;
    margin-left: 5%;
}

#task-list {
    background-color: rgb(4, 128, 150);
    height: 300px;
    width: 80%;
    border: 2px solid black;
    margin-left: 5%;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color:  rgb(247, 255, 142);
    border-left: 2px solid black;
    width: 20px;
}

::-webkit-scrollbar-thumb {
  background: lightpink; 
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

#task {
    margin: 15px 15px 15px 15px;
}

#bullet {
    margin: 0px 5px 0px 0px;
    word-wrap: break-word;
}

#clear {
    background-color: rgb(4, 128, 150);
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 5%;
    padding: 0px;
    border: 2px solid black;
    float: left;
}

.done {
    text-decoration: line-through;
}

@media (max-width: 420px) {

#abb-title {
    font-size: 50px;
    color: lightpink;
    text-align: center;
    text-shadow: 3px 3px black;
    display: block;
}

#full-title {
    display: none;
}

h1 {
    font-size: 35px;
}

.steps {
    font-size: 20px;
    text-shadow: 1px 1px black;
}

#int {
    font-size: 20px;
}


#input-tools-container {
    width: 100%;
    margin: 0px 0px 0px 0px;
    clear: both;
}

input {
    font-size: 15px;
    height: 44px;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    border: none;
    padding-left: 7px;
    border: 2px solid;
}

#tools {
    width: 90%;
    height: 60px;
    margin-top: 10px;
    margin-left: 15%;
}

#enter, #delete {
    background-color: rgb(4, 128, 150);
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border: 2px solid black;
    float: left;
}

#task-container {
    height: 1000px;
    width: 100%;
    float: left;
    margin-left: 15%;
}

#task-list-title {
    height: 40px;
    font-size: 30px;
    margin-left: 0%;
}

#task-list {
    background-color: rgb(4, 128, 150);
    height: 300px;
    width: 80%;
    border: 2px solid black;
    margin-left: 0%;
    overflow-y: auto;
    overflow-x: hidden;
}

#clear {
    background-color: rgb(4, 128, 150);
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 0%;
    padding: 0px;
    border: 2px solid black;
    float: left;
}
}
