/* You can add global styles to this file, and also import other style files */
body {
    background: #04A1BF;
    font-family: 'Kite One', sans-serif;
    box-sizing: border-box;
    height: 100vh;
}